@import '../vars';

.container {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 240px;
  background-color: $sidebarBackgroundColor;

  box-shadow: 2px 0 4px $shadow-light;
  padding-top: 10px;
}

.primaryCategory {
  user-select: none;

  a {
    color: $defaultTextColor;
    text-decoration: none;
  }

  .header {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    font-weight: 600;

    span {
      flex-grow: 1;
      margin-left: 6px;
    }

    svg {
      margin: 0 8px;
    }
  }

  .header:hover {
    background-color: $sidebarHighlight;
    box-shadow: 0px 1px 2px $shadow-light;
    cursor: pointer;
  }

  .header.activeHeader {
    background-color: $primaryColor;
    color: #fff;
    box-shadow: 0px 1px 2px $shadow-light;
  }

  .subCatList {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    a {
      padding: 2px 8px 2px 28px;
      outline: none;
    }

    a:first-child {
      padding-top: 4px;
    }

    a:hover {
      background-color: $sidebarHighlight;
      cursor: pointer;
      // font-weight: 600;
    }

    a.activeSub {
      font-weight: 600;
      color: $primaryColorDark;
    }
  }
}

.primaryContainer {
  margin: 8px;
  flex-grow: 1;
  margin-top: 16px;

  display: flex;
  flex-direction: column;

  .header {
    font-weight: 600;
    font-size: 18px;
    min-width: 140px;
  }

  & > button {
    align-self: flex-start;
    margin-left: 14px;

    & > svg {
      margin-bottom: 1px;
      margin-right: 3px;
    }
  }
}

.productArea {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.filters {
  margin: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  h5 {
    font-weight: 600;
    margin-top: 10px;
    margin-right: 8px;
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
  }
}
