@import '../vars';

.topbar {
  background: $primaryColor;
  justify-content: space-between;

  input[type="text"] {
    max-width: 400px;
    margin: 4px 30px;
    height: 36px;
  }
}

.brand {
  a {
    color: $lightTextColor;
    font-weight: 600;
    margin-left: 4px;
    margin-right: 6px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
  }
}

.toggleBtn {
  background-color: #f0f0f0;
}

.userActions {
}

.iconBtn {
  color: #000;
  outline: none;
  margin-left: 16px;

  svg {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  }

  &:hover svg {
    filter: drop-shadow(0.5px 1px 1px rgba(0, 0, 0, 0.25));
    color: #000;
  }

  &:hover {
    text-decoration: none;
  }
}

.heartIcon {
  color: $favoriteColor;
}

.iconBtn .heartIcon:hover {
  color: $favoriteHighlightColor;
}

.cartPrice {
  color: $lightTextColor;
  vertical-align: middle;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 6px;
  font-size: 18px;
}

.cartButton {
  padding: 0;
  border: 0;
  margin-right: 0;
  background-color: transparent;
  border-color: transparent;
  &:hover {
    border: 0;
    background-color: transparent;
    border-color: transparent;
  }
  &:active {
    border: 0;
    background-color: transparent;
    border-color: transparent;
  }
  &:visited {
    border: 0;
    background-color: transparent;
    border-color: transparent;
  }
}

.cartIcon {
  color: black;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25))
}

.cartDropdownToggle {
  margin: 0;
  border: 0;
  background-color: transparent;
  border-color: transparent;
  &:hover {
    border: 0;
    background-color: transparent;
    border-color: transparent;
  }
  &:active {
    border: 0 !important;
    background-color: transparent;
    background-color: transparent !important;
  }
}

.cartDropdownItem {
  &:hover {
    cursor: default;
    background-color: transparent;
  }
}
