@import '../vars';

.topbar {
  background: $primaryColor;
}

.brand {
  a {
    color: $lightTextColor;
    font-weight: 600;
    margin-left: 4px;
    margin-right: 6px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
  }
}

.toggleBtn {
  background-color: #f0f0f0;
}

.userActions {
  margin-left: auto;
}

.iconBtn {
  color: #000;
  outline: none;
  margin-left: 16px;

  svg {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  }

  &:hover svg {
    filter: drop-shadow(0.5px 1px 1px rgba(0, 0, 0, 0.25));
    color: #000;
  }

  &:hover {
    text-decoration: none;
  }
}

.heartIcon {
  color: $favoriteColor;
}

.iconBtn .heartIcon:hover {
  color: $favoriteHighlightColor;
}

.cartPrice {
  color: $lightTextColor;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 6px;
  font-size: 18px;
}
