@import '../../vars';

.header {
  padding: 4px 10px;
}

.dropdownItem {
  margin: 0;
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownItem:focus {
  outline: none;
}

.itemScrollView {
  overflow-y: auto;
  max-height: 260px;
}
