$primaryColor: #00a7b1;
$primaryColorDark: #00646a;

$lightTextColor: #f9f9f9;

$backgroundColor: #e0e0e0;
$sidebarBackgroundColor: #f0f0f0;

$sidebarHighlight: #fefefe;

$defaultTextColor: #212529;

$favoriteColor: #ee5555;
$favoriteHighlightColor: #fa6666;

$shadow-light: hsla(0, 0, 0, 0.25)
