@import "~bootstrap/scss/bootstrap";
@import 'vars';
@import 'Products';

body {
  background-color: $backgroundColor;
  min-height: 100vh;
}

#root, .App {
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 50px;
}

#andmed {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: auto;
}

#nupud {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

Link {
  color: #fefefe;
}

.App {
  display: flex;
  flex-direction: column;
}

Button {
  margin: 6px;
}

button.primaryButton {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

button.primaryButton:hover {
  box-shadow: 2px 3px $shadow-light;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

button.cartButton {
  background: none;
  border: none;
  outline: none;
  padding: 0 4px;
  margin: 0;
}

button.cartButton:active {
  position: relative;
  top: 1px;
  left: 1px;
}

svg.favIcon {
  path {
    fill: none !important;
    stroke: black;
  }
}

svg.favIcon.active {
  path {
    fill: $favoriteColor !important;
    stroke: none;
  }
}

.requiredFormFieldLabel:after {
  content: '*';
  font-weight: bold;
  color: red;
}
