@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import 'vars';
@import 'Products';

body {
  background-color: $backgroundColor;
  min-height: 100vh;
  font-family: 'Roboto', 'sans-serif';
  // font-family: 'Open Sans', 'sans-serif';
}

#root, .App {
  min-height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 50px;
}

#andmed {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: auto;
}

#nupud {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

Link {
  color: #fefefe;
}

.App {
  display: flex;
  flex-direction: column;
}

Button {
  margin: 6px;
}

button.primaryButton {
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 3px;
  box-shadow: 2px 2px 1px $shadow-light;
}

button.primaryButton:hover {
  box-shadow: 3px 3px 3px $shadow-light;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
button.primaryButton:not(.disabled):not(:disabled):active {
  background-color: $primaryColorDark;
  border-color: $primaryColorDark;
}
button.primaryButton:focus {
  background-color: $primaryColor;
  border-color: $primaryColor;
  box-shadow: 2px 2px 1px $shadow-light;
}
.primaryButton:disabled {
  opacity: 0.5;
  background-color: grey;
  border-color: grey;
}
.primaryButton:disabled:hover {
  opacity: 0.5;
  background-color: grey;
  border-color: grey;
  box-shadow: 0 0;
  cursor: default;
}

.show > button.dropdown-toggle.primaryButton {
  background-color: $primaryColorDark;
  border-color: $primaryColorDark;
}
button.dropdown-toggle.primaryButton {
  padding: 4px 8px;
  font-weight: 500;

  & > span.badge {
    margin-left: 8px;
  }

  // Dropdown arrow
  &::after {
    margin-left: 10px;
    vertical-align: 0.12rem;

    border-top: 0.4rem solid;
    border-right: 0.35rem solid transparent;
    border-left: 0.35rem solid transparent;
  }
}


button.cartButton {
  background: none;
  border: none;
  outline: none;
  padding: 0 4px;
  margin: 0;
}

button.cartButton:active {
  position: relative;
  top: 1px;
  left: 1px;
}

svg.favIcon {
  path {
    fill: none !important;
    stroke: black;
  }
}

svg.favIcon.active {
  path {
    fill: $favoriteColor !important;
    stroke: none;
  }
}

.requiredFormFieldLabel:after {
  content: '*';
  font-weight: bold;
  color: red;
}

.checkboxButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  font-weight: 500;

  .form-check {
    height: 24px;

    input[type="checkbox"] {
      margin-right: 8px;
      margin-bottom: 4px;
      margin-top: 4px;
      cursor: pointer;
      outline: none;
    }
  }
}

$search-input-breakpoint: 780px;
.search-input.shop-view {
  margin: 4px 12px 0 12px;
  max-width: 400px;

  @media (min-width: $search-input-breakpoint) {
    display: none;
  }
}
.search-input.top-bar {
  @media (max-width: $search-input-breakpoint) {
    display: none;
  }
}
