@import "~bootstrap/scss/bootstrap";
@import 'vars';

body {
  background-color: $backgroundColor;
  min-height: 100vh;
}

#root, .App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

Button {
  margin: 6px;
}
